/*
 Theme Name:   قالب فرزند ونوس
 Theme URI:    https://bigersoft.com
 Description:  venus child
 Author:       venus
 Author URI:   https://azamsadeghian.com
 Template:     venus
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  venus
*/
/* @import url(css/custom/header.css); */
/* @import url(css/custom/gravityforms.css); */

/* Header */
.logo img {
    max-width:190px !important;
    width: 286px !important;
    height: 74px !important;
    padding-top: 20px;
}
.top-header-banner div p, .top-header-banner div a{
  border-radius: 7px !important;
  padding: 10px 20px !important;
  color: #F4F4F4 !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  font-weight: bold !important;
}
.top-header-banner div p {
  background-color: #f22d33 !important;
  text-align: center !important;
}
.top-header-banner div a {
  background-color: #4daf24 !important;
  margin-right: 20px !important;
  box-shadow: 0 2px 12px rgb(77 175 36 / 60%) !important;
}
.top-header-banner div a:hover {
  background-color: #3a851b !important;
  transition: all .3s ease !important;
}
.ve-menu-icon
{
    margin : 14px !important;
}

@media (min-width: 640px) and (max-width: 767px) {
  .top-header-banner div p, .top-header-banner div a{
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  .top-header-banner div p, .top-header-banner div a{
    font-size: 12px;
  }
}
@media (max-width: 540px){
  .top-header-banner {
    display: block !important;
    height: 120px !important;
  }
  .top-header-banner .inline-block-child {
    margin-bottom: 20px !important;
    display: block !important;
  }
  .top-header-banner div a {
    margin-right: 0px !important;
    margin: 0px 60px !important;
    position: relative !important;
    display: inherit !important;
    text-align: center !important;
  }
}


/* Gravity Forms */
.gfield_radio li {
  display: inline-block !important;
}
.gfield_radio li input {
    margin-right: 20px !important;
    margin-left: 5px !important;
}
.gfield_radio li label {
  margin-right: 25px !important;
}

.gform_wrapper {
    box-shadow: 0 2px 12px rgb(85 85 85 / 60%);
    border-radius:10px 10px;
    background-color: #F4F4F4 !important;
}
.gform_footer .gform_button {
    width: 250px !important;
    padding : 10px 20px;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    box-shadow: 0 2px 12px rgb(77 175 36 / 60%);
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #F4F4F4 !important;
    border: none !important;
    background-color: #4daf24;
}
.gform_footer .gform_button:hover {
    background-color: #3a851b;
    transition: all .3s ease;
}
.gform_wrapper label {
    margin-right: 10px;
    color:#555;
}
.ginput_product_price{
    margin-right: 30px;
}
.gform_wrapper .top_label .ginput_container_singleproduct {
    display: inline-block;
}
.gform_wrapper {
    padding: 15px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}

.gfield_radio li {
  display: inline-block !important;
}
.gfield_radio li input {
    margin-right: 55px !important;
    margin-left: -20px !important;
}
.gform_wrapper label {
  margin-right: 30px;
  color:#555;
}
.gform_description {
  text-align: justify !important;
}



/*--------- Developers ---------*/
.navigation ul li a {
    font-size: 17px!important;
    font-weight: bold!important;
}
.main-header .text-right, .main-header .register-header{
    padding-top:20px !important;
}
.main-header .py-3{
    padding-top:0px !important;
}
.modal-content.custom-login-signup {
  max-width: 500px !important;
}
.main-header .register-header .my-auto
{
    font-weight: bold !important;
}
.woocommerce-error.login_prompt {
  text-align: center;
}
.woocommerce-billing-fields {
    display: none !important;
}
.wc_email-wrapper{
     display: none !important;
}

/* wpdiscuz */
.wpd-login-to-comment a {
    width: 150px;
    float: none;
    margin: 20px auto;
    background-color: #ff9645;
}
.wpd-login-to-comment a:hover {
  background-color: #ff9645;
  color: #0a0a0a;
}
.wpd-login-to-comment p {
    font-size: 16px !important;
    font-weight: 400;
}

/* whatsapp chat */
.float-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}
.float-icon:hover {
    bottom: 20px;
    transition: all 0.5s ease-in-out;
}


/* Footer */
#scrollTop {
  display: none;
}
