.gfield_radio li {
  display: inline-block !important;
}
.gfield_radio li input {
    margin-right: 20px !important;
    margin-left: 5px !important;
}
.gfield_radio li label {
  margin-right: 25px !important;
}

.gform_wrapper {
    box-shadow: 0 2px 12px rgb(85 85 85 / 60%);
    border-radius:10px 10px;
    background-color: #F4F4F4 !important;
}
.gform_footer .gform_button {
    width: 250px !important;
    padding : 10px 20px;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    box-shadow: 0 2px 12px rgb(77 175 36 / 60%);
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #F4F4F4 !important;
    border: none !important;
    background-color: #4daf24;
}
.gform_footer .gform_button:hover {
    background-color: #3a851b;
    transition: all .3s ease;
}
.gform_wrapper label {
    margin-right: 10px;
    color:#555;
}
.ginput_product_price{
    margin-right: 30px;
}
.gform_wrapper .top_label .ginput_container_singleproduct {
    display: inline-block;
}
.gform_wrapper {
    padding: 15px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}

/*  */
/*  */
.gfield_radio li {
  display: inline-block !important;
}
.gfield_radio li input {
    margin-right: 55px !important;
    margin-left: -20px !important;
}
.gform_wrapper label {
  margin-right: 30px;
  color:#555;
}
.gform_description {
  text-align: justify !important;
}
