.top-header-banner div p, .top-header-banner div a{
  border-radius: 7px !important;
  padding: 10px 20px !important;
  color: #F4F4F4 !important;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  font-weight: bold !important;
}
.top-header-banner div p {
  background-color: #f22d33 !important;
  text-align: center !important;
}
.top-header-banner div a {
  background-color: #4daf24 !important;
  margin-right: 20px !important;
  box-shadow: 0 2px 12px rgb(77 175 36 / 60%) !important;
}
.top-header-banner div a:hover {
  background-color: #3a851b !important;
  transition: all .3s ease !important;
}
.ve-menu-icon
{
    margin : 14px !important;
}

@media (min-width: 640px) and (max-width: 767px) {
  .top-header-banner div p, .top-header-banner div a{
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  .top-header-banner div p, .top-header-banner div a{
    font-size: 12px;
  }
}
@media (max-width: 540px){
  .top-header-banner {
    display: block !important;
    height: 120px !important;
  }
  .top-header-banner .inline-block-child {
    margin-bottom: 20px !important;
    display: block !important;
  }
  .top-header-banner div a {
    margin-right: 0px !important;
    margin: 0px 60px !important;
    position: relative !important;
    display: inherit !important;
    text-align: center !important;
  }
}
/* @media (max-width: 1024px){
  .main-header .text-right, .main-header .register-header{
    display: none !important;
  }
}
@media (min-width: 1024px){
  .main-header .ve-menu-icon, .main-header .hwp-mini-cart-area {
    display: none !important;
  }
} */
